
body {
    margin: 10px;
    font-family: "Arial";
    padding-left: 16px;
}

.wd-gray-text{
    color:rgb(140, 146, 153)
}



.wd-lg-content #title{
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    color: white;
    bottom: 5px;
    left: 15px;
}

.wd-lg-content #subtitle{
    font-size: 15px;
    position: absolute;
    color: white;
    bottom: 35px;
    left: 15px;
}

.wd-left-div > a{
   padding: 10px;
}

.wd-left-div > a >i{
   padding: 10px;
}

.wd-left-div > button {
    background-color: rgb(83,145,233);
    color: white;
    font-weight: bold;
}

.list-group-item.active{
    color:black;
    background-color:white;
    font-weight:bold;
}

.wd-lg-content{
    position: relative;
}

.wd-lg-content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.wd-mid-text-content {
    height: 110px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.wd-mid-sm-image {
    float:right;
}
.wd-search-field {
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.wd-search {
	width: 90%;
	height: 50px;
	border: solid 0.5px rgb(238, 241, 242);
    /*rgb(238, 241, 242)*/
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding: 20px;
	background-color:rgb(238, 241, 242);
}

.wd-search > input{
	flex: 1;
	height: 40px;
	border: none;
	outline: none;
	font-size: 15px;
	padding-left: 10px;
    background-color:rgb(238, 241, 242);
}
.wd-mid-div {
    border: solid 0.5px rgb(238, 241, 242);
}
.wd-bg-lightgray{
    background-color:rgb(238, 241, 242);
    border:none;
}

.wd-right-ul{
border-radius: 20px
}

.list-group-item{
  overflow:hidden;
  border:none;
}

.wd-follow-image{
    width: 40px;
    height:40px;
    border-radius: 5px;
    float:left;
}

.wd-follow-text {
    height:20px;
    float:left;
    width:fit-content;
}

.wd-text-title {
    font-weight: bold;
    margin:0px;
    width:fit-content;
}

.wd-text-subtitle {
    font-size: 15px;
    margin: 0px;
    font-color: lightgray;
}

.wd-follow-btn {
    float:right;
}

.wd-news-image{
    width: 85px;
    height: 85px;
    border-radius: 15px;
}

.wd-right-ul .list-group-item{
    padding:15px;
}

.nav-tabs {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}
#active-nav {
    border: none;
    font-weight: bold;
    border-bottom: 4px solid rgb(83,145,233);
}
#active-nav > a {
    color: #495057;
}
.nav-link {
    padding: 0px;
    color:rgb(140, 146, 153);
}
@media only screen and (max-width: 600px) {
  .wd-right-div {
  display:none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .wd-right-div {
    display:none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .wd-right-div {
    display:none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .wd-right-div {
    display:block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .wd-right-div {
    display:block;
    }
}